In [1]:
print('hello world')

hello world

In [34]:
# 交换两个变量
a = 4
b = 5
print("Original: a=%d b=%d" % (a, b))
temp = a
a = b
b = temp
print("Swapped : a=%d b=%d" % (a, b))

a = 6
b = 7
print("Original: a={0} b={1}".format(a, b))
a, b = b, a
print("Swapped : a={a} b={b}".format(a=a, b=b))

Original: a=4 b=5
Swapped : a=5 b=4
Original: a=6 b=7
Swapped : a=7 b=6

In [50]:
# 序列解包
print('---------------------- 1 ----------------------')
student = ['Jerry', 30, 'M']
name = student[0]
age = student[1]
gender = student[2]
print("name={0}\nage={1}\ngender={2}".format(name, age, gender))

print('---------------------- 2 ----------------------')
newName, newAge, newGender = student
print("name={0}\nage={1}\ngender={2}".format(newName, newAge, newGender))

print('---------------------- 3 ----------------------')
a, b, *c = 1, 2, 3, 4, 5, 6
print(a, b, c)
a, *b, c = 1, 2, 3, 4, 5, 6
print(a, b, c)
*a, b, c = 1, 2, 3, 4, 5, 6
print(a, b, c)

print('---------------------- 4 ----------------------')
def testFunc():
    return 3, 4, 5
a = testFunc()
print(a)
a, b, c = testFunc()
print(a, b, c)
a, *b = testFunc()
print(a, b)
*a, b = testFunc()
print(a, b)

---------------------- 1 ----------------------
name=Jerry
age=30
gender=M
---------------------- 2 ----------------------
name=Jerry
age=30
gender=M
---------------------- 3 ----------------------
1 2 [3, 4, 5, 6]
1 [2, 3, 4, 5] 6
[1, 2, 3, 4] 5 6
---------------------- 4 ----------------------
(3, 4, 5)
3 4 5
3 [4, 5]
[3, 4] 5

In [53]:
testValue = 85

if testValue > 80 and testValue < 90:
    level = 'B'
print('testValue=%d  level=%c' % (testValue, level))

if 80 < testValue < 90:
    level = 'B'
print('testValue=%d  level=%c' % (testValue, level))

if level in ['A', 'B', 'C']:
    print('passed')

testValue=85  level=B
testValue=85  level=B
passed

In [62]:
print('---------------------- 1 ----------------------')
math,english,chinese=70,55,85
if math<60 or english<60 or cheinese<60:
    print('failed')
if any([math<60, english<60, chinese<60]):
    print('failed')
    
print('---------------------- 2 ----------------------')
math,english,chinese=70,61,85
if math>60 and english>60 and chinese>60:
    print('passed')
if all([math>60, english>60, chinese>60]):
    print('passed')

---------------------- 1 ----------------------
failed
failed
---------------------- 2 ----------------------
passed
passed

In [66]:
print('---------------------- 1 ----------------------')
li = ['a','b','c']
for i in range(len(li)):
    print(i, ':', li[i])

print('---------------------- 2 ----------------------)
for i,item in enumerate(li):
    print(i, ':', item)

---------------------- 2 ----------------------
0 : a
1 : b
2 : c
---------------------- 2 ----------------------
0 : a
1 : b
2 : c

In [80]:
print('---------------------- 1 ----------------------')
name = ['a', 'b', 'c']
age = [20, 30, 40]
li = dict(zip(name, age))
print(li)

print('---------------------- 2 ----------------------')
for key,value in enumerate(li, start=1):
    print(key, ':', value)

print('---------------------- 2 ----------------------')
list(enumerate(li, start=1))

---------------------- 1 ----------------------
{'a': 20, 'b': 30, 'c': 40}
---------------------- 2 ----------------------
1 : a
2 : b
3 : c
---------------------- 2 ----------------------

[(1, 'a'), (2, 'b'), (3, 'c')]

In [101]:
print('---------------------- 1 ----------------------')
testList = [1, 2, 'a', 3, 2.5]
res = filter(lambda x: isinstance(x, int), testList)
print(res)
print(testList)
for value in res:
    print(value)

---------------------- 1 ----------------------
<filter object at 0x0000000004C70080>
[1, 2, 'a', 3, 2.5]
1
2
3